---
import MySiteLayout from '@/layouts/DefaultLayout.astro'
import VueSample from '@/components/VueSample.vue'
import ReactSample from '@/components/ReactSample'
import SvelteSample from '@/components/SvelteSample.svelte'
---

<MySiteLayout title="Home Page">
  <div class="my-20px">
    <a href="/pangyo/map" class="c-blue underline">지도</a>
    <a href="/pangyo/restaurant" class="c-blue underline">리스트</a>
    <!-- <a href="/pangyo/restaurant/detail" class="c-blue underline">디테일</a> -->
    <a href="/pangyo/restaurant/geo" class="c-blue underline">위치 기반</a>
    <a href="/pangyo/restaurant/detail/1" class="c-blue underline">디테일</a>
  </div>

  <div class="my-20px">
    <h6>Vue Sample</h6>
    <VueSample client:visible />
  </div>
  <div class="my-20px">
    <h6>React Sample</h6>
    <ReactSample client:visible />
  </div>
  <div class="my-20px">
    <h6>Svlete Sample</h6>
    <SvelteSample client:visible />
  </div>
</MySiteLayout>
