---
const { title } = Astro.props
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <div class="h-100vh grid items-center justify-center">
      <main>
        <h1 class="text-5 text-center">{title}</h1>
        <article>
          <slot />
          <!-- your content is injected here -->
        </article>
      </main>
    </div>
  </body>
</html>
