---
const { title } = Astro.props
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <div class="max-w-xl h-100vh mx-a flex items-top justify-center">
      <main class="flex-auto">
        <h1 class="hidden">{title}</h1>
        <article>
          <slot />
          <!-- your content is injected here -->
        </article>
      </main>
    </div>
  </body>
</html>
