---
import '../assets/styles/markdown.css'

const { frontmatter } = Astro.props
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <div class="h-100vh min-w-700px grid px-10px items-center justify-center">
      <main>
        <h1 class="text-10">{frontmatter.title}</h1>
        <article>
          <slot />
          <!-- your content is injected here -->
        </article>
      </main>
    </div>
  </body>
</html>
